.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 70px;
    top: 55px;
    background-color: white;
    z-index: 200;
    cursor: pointer;
}

.sidebar-box{
    font-family: Roboto, Arial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 78px;
    width: 70px;
}

.sidebar-box:hover{
    background-color: lightgray;
}

.Home-img{
    height: 22px;
    width: 22px;
    margin-bottom: 5px;
}

.Explore-img{
    height: 22px;
    width: 22px;
    margin-bottom: 5px;
}

.shorts-img{
    height: 22px;
    width: 22px;
    margin-bottom: 5px;
}

.subscription-img{
    height: 22px;
    width: 22px;
    margin-bottom: 5px;
}

.library-img{
    height: 22px;
    width: 22px;
    margin-bottom: 5px;
}

.Home{
    font-size: 10px;
}